.hero {
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-image: url('../img/tim-mossholder-YC6RVdoTtIk-unsplash.webp');
    background-repeat: no-repeat;
    background:cover;
}
.hero::after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 30%;
    bottom:0;
    background:linear-gradient(0deg, rgba(1, 1, 3, 1) 8%, rgba(255, 255, 255, 0) 50%);
}

.hero .content {
    padding: 1.4rem 7%;
    max-width: 60rem;
}

.hero .content h1 {
    font-size: 5em;
    color:#fff;
    text-shadow: 1px 1px 3px rgba(1, 1, 1, 3, 0.5);
}

.hero .content h1 span {
    color: var(--primary)
}

.hero .content p {
    font-size: 1.6em;
    margin-top: 0,5rem;
    line-height: 1.4;
    font-weight: 100;
    text-shadow: 1px 1px 3px rgba(1, 1, 1, 3, 0.5);
    mix-blend-mode:difference;
}

.hero .content .cta{
    margin-top: 1rem;
    display: inline-block;
    padding:1rem 3rem;
    color:#fff;
    background-color:var(--primary);
    border-radius:0.5rem;
    box-shadow:0px 1px 3px rgba(1, 1, 3, 0.5);

}
